* {
    background-color: #222222;
}
html {
    scroll-behavior: smooth;
  }
nav {
  display:flexbox;
  justify-content:space-between
}
.logo_alone {
    max-height: 200px;
    max-width: 200px;
    width: 75px;
    height: 75px;
    margin-top: .25in;
    margin-bottom: .50in;
    padding-bottom: 1in;
    margin-left: .25in;
    margin-right: .25in;
    display:inline-block;
    position:left;
}
ul li {
    block-size: 100px;
    list-style-type: none;
    margin: auto;
    position: right;
    padding: 0;
    font-family: Arial;
  }
h1 {
    font-family: Arial;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    color: white;
    display:inline;
    margin-left: .50in
}
.arrow_1 {
    margin-left: .50in
}
.high_int {
  color:yellow  
}