* {
    background-color: #222222;
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}
html {
    scroll-behavior: smooth;
  }
.logo_alone {
    max-height: 200px;
    max-width: 200px;
    width: 75px;
    height: 75px;
    margin-top: .25in;
    margin-bottom: .50in;
    padding-bottom: 1in;
    margin-left: .25in;
    margin-right: .25in;
    display:inline-block;
    position:left;
}
ul li {
    block-size: 100px;
    list-style-type: none;
    margin: auto;
    position: right;
    padding: 0;
    text-align: right;
    display: inline-block;
    align-content: right;
    font-family: Arial;
  }
.int_text {
    font-family: Arial;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    color: white;
    display:inline;
}
h1 {
    margin-left: .50in
}
.high_int {
  color:yellow  
}