* {
    background-color: #222222;
}
.logo_alone {
    max-height: 200px;
    max-width: 200px;
    width: 75px;
    height: 75px;
    margin-top: .25in;
    margin-bottom: 1in;
    padding-bottom: 1in;
    margin-left: .25in;
    margin-right: .25in;
}
ul {
    block-size: 100px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
    display: inline;
    float: right;
    
  }
.int_text {
    font-family: effra, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    color: white;
}
h1 {
    margin-left: .50in
}
.high_int {
  color:yellow  
}